! pip install --user numpy
!pip install pandas

In [1]:
import numpy as np
import pandas as pd

In [2]:
url="https://raw.githubusercontent.com/YuvinNavod/Car_Price_Prediction/main/Automobile%20data.csv"
data = pd.read_csv(url,encoding='latin-1')
data.head()

,Brand Name,Fuel type,Aspiration,Door Panel,Design,Wheel Drive,Engine Location,Engine Type,Cylinder Count,Engine Size,Fuel System,Bore,Stroke,Compression Ratio,Horse Power,Top-RPM,City Mileage,Highway Mileage,Price in Dollars
0,alfa-romero,gas,std,two,convertible,rwd,front,dohc,four,130,mpfi,3.47,2.68,9.0,111,5000,21,27,13495
1,alfa-romero,gas,std,two,convertible,rwd,front,dohc,four,130,mpfi,3.47,2.68,9.0,111,5000,21,27,16500
2,alfa-romero,gas,std,two,hatchback,rwd,front,ohcv,six,152,mpfi,2.68,3.47,9.0,154,5000,19,26,16500
3,audi,gas,std,four,sedan,fwd,front,ohc,four,109,mpfi,3.19,3.40,10.0,102,5500,24,30,13950
4,audi,gas,std,four,sedan,4wd,front,ohc,five,136,mpfi,3.19,3.40,8.0,115,5500,18,22,17450

In [3]:
data.shape

(205, 19)

In [4]:
data.isnull().sum()

Brand Name           0
Fuel type            0
Aspiration           0
Door Panel           0
Design               0
Wheel Drive          0
Engine Location      0
Engine Type          0
Cylinder Count       0
Engine Size          0
Fuel System          0
Bore                 0
Stroke               0
Compression Ratio    0
Horse Power          0
Top-RPM              0
City Mileage         0
Highway Mileage      0
Price in Dollars     0
dtype: int64

In [5]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 205 entries, 0 to 204
Data columns (total 19 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Brand Name         205 non-null    object
 1   Fuel type          205 non-null    object
 2   Aspiration         205 non-null    object
 3   Door Panel         205 non-null    object
 4   Design             205 non-null    object
 5   Wheel Drive        205 non-null    object
 6   Engine Location    205 non-null    object
 7   Engine Type        205 non-null    object
 8   Cylinder Count     205 non-null    object
 9   Engine Size        205 non-null    int64
 10  Fuel System        205 non-null    object
 11  Bore               205 non-null    float64
 12  Stroke             205 non-null    float64
 13  Compression Ratio  205 non-null    float64
 14  Horse Power        205 non-null    int64
 15  Top-RPM            205 non-null    int64
 16  City Mileage       205 non-null    int64
 17  Highway Mileage    205 non-null    int64
 18  Price in Dollars   205 non-null    int64
dtypes: float64(3), int64(6), object(10)
memory usage: 30.6+ KB

In [6]:
data.head(2)

,Brand Name,Fuel type,Aspiration,Door Panel,Design,Wheel Drive,Engine Location,Engine Type,Cylinder Count,Engine Size,Fuel System,Bore,Stroke,Compression Ratio,Horse Power,Top-RPM,City Mileage,Highway Mileage,Price in Dollars
0,alfa-romero,gas,std,two,convertible,rwd,front,dohc,four,130,mpfi,3.47,2.68,9.0,111,5000,21,27,13495
1,alfa-romero,gas,std,two,convertible,rwd,front,dohc,four,130,mpfi,3.47,2.68,9.0,111,5000,21,27,16500

In [7]:

list(data)

['Brand Name',
 'Fuel type',
 'Aspiration',
 'Door Panel',
 'Design',
 'Wheel Drive',
 'Engine Location',
 'Engine Type',
 'Cylinder Count',
 'Engine Size',
 'Fuel System',
 'Bore',
 'Stroke',
 'Compression Ratio',
 'Horse Power',
 'Top-RPM',
 'City Mileage',
 'Highway Mileage',
 'Price in Dollars']

In [8]:
data.corr()['Price in Dollars']

C:\Users\~Yuvin\AppData\Local\Temp\ipykernel_16256\1250547758.py:1: FutureWarning: The default value of numeric_only in DataFrame.corr is deprecated. In a future version, it will default to False. Select only valid columns or specify the value of numeric_only to silence this warning.
  data.corr()['Price in Dollars']

Engine Size          0.106411
Bore                 0.027551
Stroke              -0.017031
Compression Ratio    0.003791
Horse Power          0.089986
Top-RPM              0.021937
City Mileage         0.006233
Highway Mileage     -0.009910
Price in Dollars     1.000000
Name: Price in Dollars, dtype: float64

In [9]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 205 entries, 0 to 204
Data columns (total 19 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Brand Name         205 non-null    object
 1   Fuel type          205 non-null    object
 2   Aspiration         205 non-null    object
 3   Door Panel         205 non-null    object
 4   Design             205 non-null    object
 5   Wheel Drive        205 non-null    object
 6   Engine Location    205 non-null    object
 7   Engine Type        205 non-null    object
 8   Cylinder Count     205 non-null    object
 9   Engine Size        205 non-null    int64
 10  Fuel System        205 non-null    object
 11  Bore               205 non-null    float64
 12  Stroke             205 non-null    float64
 13  Compression Ratio  205 non-null    float64
 14  Horse Power        205 non-null    int64
 15  Top-RPM            205 non-null    int64
 16  City Mileage       205 non-null    int64
 17  Highway Mileage    205 non-null    int64
 18  Price in Dollars   205 non-null    int64
dtypes: float64(3), int64(6), object(10)
memory usage: 30.6+ KB

In [10]:
data['Brand Name'].value_counts()

toyota           32
nissan           18
mazda            17
mitsubishi       13
honda            13
volkswagen       12
subaru           12
peugot           11
volvo            11
dodge             9
mercedes-benz     8
bmw               8
audi              7
plymouth          7
saab              6
porsche           5
isuzu             4
jaguar            3
chevrolet         3
alfa-romero       3
renault           2
mercury           1
Name: Brand Name, dtype: int64

In [11]:
len(data['Brand Name'].value_counts()
   )

22

In [12]:
def add_brand(inpt):
    if inpt=='dodge'or inpt=='mercedes-benz'or inpt=='bmw'or inpt=='audi'or inpt=='plymouth'or inpt=='saab'or inpt=='porsche'or inpt=='isuzu'or inpt=='jaguar'or inpt=='chevrolet'or inpt=='alfa-romero'or inpt=='renault'or inpt=='mercury':
        return 'Other'
    else:
        return inpt
data['Brand Name']= data['Brand Name'].apply(add_brand)

In [14]:
data['Brand Name'].value_counts()

Other         66
toyota        32
nissan        18
mazda         17
honda         13
mitsubishi    13
subaru        12
volkswagen    12
peugot        11
volvo         11
Name: Brand Name, dtype: int64

In [13]:

data['Fuel type'].value_counts()

gas       185
diesel     20
Name: Fuel type, dtype: int64

In [14]:
data['Door Panel'].value_counts()

four    114
two      89
?         2
Name: Door Panel, dtype: int64

In [15]:
data['Door Panel'].value_counts()

four    114
two      89
?         2
Name: Door Panel, dtype: int64

In [16]:
data['Design'].value_counts()

sedan          96
hatchback      70
wagon          25
hardtop         8
convertible     6
Name: Design, dtype: int64

In [17]:
def add_design(inpt):
    if inpt=='hardtop'or inpt=='convertible':
        return 'Other'
    else:
        return inpt
data['Design']= data['Design'].apply(add_design)

In [18]:
data['Design'].value_counts()

sedan        96
hatchback    70
wagon        25
Other        14
Name: Design, dtype: int64

In [19]:
data['Wheel Drive'].value_counts()

fwd    120
rwd     76
4wd      9
Name: Wheel Drive, dtype: int64

In [20]:
data['Engine Location'].value_counts()

front    202
rear       3
Name: Engine Location, dtype: int64

In [21]:
data['Engine Type'].value_counts()

ohc      148
ohcf      15
ohcv      13
dohc      12
l         12
rotor      4
dohcv      1
Name: Engine Type, dtype: int64

In [22]:
def add_type(inpt):
    if inpt=='ohcf'or inpt=='ohcv'or inpt=='dohc'or inpt=='l'or inpt=='rotor'or inpt=='dohcv':
        return 'Other'
    else:
        return inpt
data['Engine Type']= data['Engine Type'].apply(add_type)

In [23]:
data['Engine Type'].value_counts()

ohc      148
Other     57
Name: Engine Type, dtype: int64

In [24]:
data['Fuel System'].value_counts()

mpfi    94
2bbl    66
idi     20
1bbl    11
spdi     9
4bbl     3
mfi      1
spfi     1
Name: Fuel System, dtype: int64

In [25]:
data= data.drop(columns=['City Mileage','Compression Ratio','Highway Mileage','Door Panel','Cylinder Count','Fuel System'])

In [26]:
data.head(2)

,Brand Name,Fuel type,Aspiration,Design,Wheel Drive,Engine Location,Engine Type,Engine Size,Bore,Stroke,Horse Power,Top-RPM,Price in Dollars
0,Other,gas,std,Other,rwd,front,Other,130,3.47,2.68,111,5000,13495
1,Other,gas,std,Other,rwd,front,Other,130,3.47,2.68,111,5000,16500

In [27]:
data =pd.get_dummies(data)

In [28]:
data.head(2 )

,Engine Size,Bore,Stroke,Horse Power,Top-RPM,Price in Dollars,Brand Name_Other,Brand Name_honda,Brand Name_mazda,Brand Name_mitsubishi,...,Design_hatchback,Design_sedan,Design_wagon,Wheel Drive_4wd,Wheel Drive_fwd,Wheel Drive_rwd,Engine Location_front,Engine Location_rear,Engine Type_Other,Engine Type_ohc
0,130,3.47,2.68,111,5000,13495,1,0,0,0,...,0,0,0,0,0,1,1,0,1,0
1,130,3.47,2.68,111,5000,16500,1,0,0,0,...,0,0,0,0,0,1,1,0,1,0

In [30]:
data.shape

(205, 31)

In [31]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 205 entries, 0 to 204
Data columns (total 31 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Engine Size            205 non-null    int64
 1   Bore                   205 non-null    float64
 2   Stroke                 205 non-null    float64
 3   Horse Power            205 non-null    int64
 4   Top-RPM                205 non-null    int64
 5   Price in Dollars       205 non-null    int64
 6   Brand Name_Other       205 non-null    uint8
 7   Brand Name_honda       205 non-null    uint8
 8   Brand Name_mazda       205 non-null    uint8
 9   Brand Name_mitsubishi  205 non-null    uint8
 10  Brand Name_nissan      205 non-null    uint8
 11  Brand Name_peugot      205 non-null    uint8
 12  Brand Name_subaru      205 non-null    uint8
 13  Brand Name_toyota      205 non-null    uint8
 14  Brand Name_volkswagen  205 non-null    uint8
 15  Brand Name_volvo       205 non-null    uint8
 16  Fuel type_diesel       205 non-null    uint8
 17  Fuel type_gas          205 non-null    uint8
 18  Aspiration_std         205 non-null    uint8
 19  Aspiration_turbo       205 non-null    uint8
 20  Design_Other           205 non-null    uint8
 21  Design_hatchback       205 non-null    uint8
 22  Design_sedan           205 non-null    uint8
 23  Design_wagon           205 non-null    uint8
 24  Wheel Drive_4wd        205 non-null    uint8
 25  Wheel Drive_fwd        205 non-null    uint8
 26  Wheel Drive_rwd        205 non-null    uint8
 27  Engine Location_front  205 non-null    uint8
 28  Engine Location_rear   205 non-null    uint8
 29  Engine Type_Other      205 non-null    uint8
 30  Engine Type_ohc        205 non-null    uint8
dtypes: float64(2), int64(4), uint8(25)
memory usage: 14.7 KB

In [32]:
x=data.drop('Price in Dollars',axis=1)
y=data['Price in Dollars']

In [33]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.25)

In [34]:
x_train.shape

(153, 30)

In [35]:
x_test.shape

(52, 30)

In [36]:
def model_acc(model):
    model.fit(x_train,y_train)
    acc=model.score(x_test,y_test)
    print(str(model)+'-->'+str(acc))

In [37]:
from sklearn.linear_model import LinearRegression
lr=LinearRegression()
model_acc(lr)

from sklearn.linear_model import Lasso
lasso=Lasso()
model_acc(lasso)

from sklearn.tree import DecisionTreeRegressor
dt=DecisionTreeRegressor()
model_acc(dt)

from sklearn.ensemble import RandomForestRegressor
rf=RandomForestRegressor()
model_acc(rf)

LinearRegression()-->-3.562983603194115
Lasso()-->-3.551057776436253
DecisionTreeRegressor()-->0.8652390798494517
RandomForestRegressor()-->-2.73897673575552

In [38]:
import pickle
with open('predictor.pickle','wb') as file:
    pickle.dump(dt,file)

In [39]:
x_train.columns

Index(['Engine Size', 'Bore', 'Stroke', 'Horse Power', 'Top-RPM',
       'Brand Name_Other', 'Brand Name_honda', 'Brand Name_mazda',
       'Brand Name_mitsubishi', 'Brand Name_nissan', 'Brand Name_peugot',
       'Brand Name_subaru', 'Brand Name_toyota', 'Brand Name_volkswagen',
       'Brand Name_volvo', 'Fuel type_diesel', 'Fuel type_gas',
       'Aspiration_std', 'Aspiration_turbo', 'Design_Other',
       'Design_hatchback', 'Design_sedan', 'Design_wagon', 'Wheel Drive_4wd',
       'Wheel Drive_fwd', 'Wheel Drive_rwd', 'Engine Location_front',
       'Engine Location_rear', 'Engine Type_Other', 'Engine Type_ohc'],
      dtype='object')

In [42]:
lr.predict([[20, 20.0, 4.0, 200, 1000, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 1]])

C:\ProgramData\anaconda3\lib\site-packages\sklearn\base.py:420: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

array([-339377.92509609])